$navbar-default-bg: #323232;
$navbar-default-color: #949494;
$navbar-default-link-color: #949494;
$navbar-default-link-hover-color: #c5c5c5;
$navbar-border-radius: 0;
$navbar-user: #b20000;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex: 1 0 auto;
}

footer {
  background-color: $navbar-default-bg;
  color: $navbar-default-link-color;
  flex-shrink: 0;
  margin-top: auto;
  display: flex;
  height: 50px;
  line-height: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }

  a {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }
}

.nav-user a {
  color: $navbar-user;
  &:hover {
    color: lighten($navbar-user, 40%);
  }
}

.nav-info {
  padding: 15px;
  line-height: 20px;
  color: $navbar-default-color;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.description {
  margin-top: 0;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}
